<html>
    <body bgcolor=#d4a3ae>

        <center>

        <h1> MEDIACAL INSURANCE PREDICTION </h1><br>
        
        <form method="POST", action="{{url_for('home')}}">
           <b> age :  <input type="text", name='a', placeholder="any number"> <br><br>
            sex :  <input type="text", name='b', placeholder="male,female"> <br><br>
            bmi :  <input type="text", name='c', placeholder="any number"> <br><br>
            children :  <input type="text", name='d', placeholder="any number"> <br><br>
            smoker :  <input type="text", name='e', placeholder="yes,no"> <br><br>
            region : <input type="text", name='f', placeholder="southwest,southeast"> <br><br><br></b>
            <input type="submit" , value='predict!' >
        </form>

    
        
    </center>

    </body>
</html>
